@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body { */
  /* background: var(--background); */
  /* color: var(--foreground); */
  /* font-family: Helvetica, sans-serif, Arial; */
/* } */


.nav-limit-width-below-340 {
  max-width: 150px; /* Or your desired max-width */
}

@media (min-width: 340px) {
  .nav-limit-width-below-340 {
    max-width: none; /* Remove the max-width at 340px and above */
  }
}